<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Add Joke</title>
</head>
<body>
	<div class="card text-white bg-primary mb-3 mx-auto"
		style="max-width: 30rem; margin-top: 6rem;">
		<div class="card-header">
			<h2>Add Joke</h2>
		</div>
		<div class="card-body">
			<div class="container">
				<form class="form-horizontal" role="form" modelAttribute="joke"
					method="POST" th:action="@{/home/addJoke}" th:object="${joke}">
					<div class="form-group">
						<label class="col-form-label" for="body">Body: </label> <input
							type="text" th:field="*{body}" class="form-control" id="body"
							placeholder="body" required autofocus />
					</div>
					<button type="submit" class="btn btn-lg btn-secondary btn-block">Add
						Joke</button>
				</form>
			</div>
		</div>
		</br>
		<form class="form-horizontal" role="form" method="GET"
			th:action="@{/home}">
			<button type="submit" class="btn btn-lg btn-secondary btn-block">Home</button>
		</form>
	</div>
</body>
</html>